<div ng-init="init();page=0" class="col-md-10 text-center col-md-offset-1">
	<div class="text-left">
		<form ng-submit="page=0;getAll()">
			Find
			<input type="text" ng-model="search"/>
			<button class="btn btn-info btn-sm" ng-click="page=0;getAll()">
				Search
			</button>
			<button class="btn btn-primary btn-sm" ng-click="search=null;page=0;getAll()">
				reset
			</button>
		</form>
	</div>
	<table class="table table-striped table-hover table-bordered" ng-init="getAll()">
		<tr>
			<th class="col-md-1 text-center">Id</th>
			<th class="col-md-2 text-center">Firstname</th>
			<th class="col-md-2 text-center">Lastname</th>
			<th class="col-md-2 text-center">Email</th>
			<th class="col-md-3 text-center">Action</th>
		</tr>
		<tr ng-repeat="user in users">
			<td class="col-md-1 text-center">{{user.id}}</td>
			<td class="col-md-2 text-center">{{user.firstname}}</td>
			<td class="col-md-2 text-center">{{user.lastname}}</td>
			<td class="col-md-2 text-center">{{user.email}}</td>
			<td class="col-md-3 text-center">
			<button class="btn btn-danger btn-xs" ng-show="deletebt" ng-click="deletebt=false">
				Delete
			</button> </span> <span ng-hide="deletebt"> Are you sure?
				<button class="button btn-danger btn-xs" ng-click="remove(user.id)">
					Yes
				</button>
				<button class="button btn-info btn-xs" ng-click="deletebt=true">
					No
				</button> </span><a href="/#/users/edit/{{user.id}}" class="btn btn-info btn-xs">Edit</a></td>
		</tr>
	</table>
	<span ng-show="glyph" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>
	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="moveAway">
		<button type="button" class="close" data-dismiss="alert" ng-click="moveAway=false" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Warning!</strong> Activity page wont load.
	</div>
	<div class="text-right">
		<button class="btn btn-info btn-sm" ng-click="page = page-1; getAll()" ng-disabled="page==0">
			Previus
		</button>
		{{page+1}}-{{totalPages}}
		<button class="btn btn-info btn-sm" ng-disabled="page+1==totalPages" ng-click="page = page+1; getAll()">
			Next
		</button>
	</div>
</div>
<div class="text-center">
	<a href="/#/users/add" class="btn btn-success btn-lg">Add Activity</a>
</div>
</div>
</div>